/* Prevents webpage from scrolling */
body, html {
  margin: 0;
  height: 100%;
  background-color: #C9F0FF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: #333;
}

/* Center information card */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Information Card */
.card {
  background-color: #EFEFF0;
  border-radius: 10px;
  width: 45%;
  max-width: 550px;
  padding: 50px 75px;
  text-align: center;
  box-shadow: 0rem 0.25rem 3rem 0rem rgba(0,0,0,0.1)
}

/* Headshot Image */
.headshot {
  /* Top margin = -(card padding + 0.5*height) */
  margin: -125px auto 0 auto;
  height: 150px;
  width: 150px;
  background: white;
  border-radius: 50%;
  border: 2px solid white;
}

/* Text styling */
h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.25rem;
  margin: 30px 0px 30px 0px;
}

p {
  line-height: 1.5rem;
}

/* Separator for footer */
.separator {
  width: 50px;
  height: 1px;
  margin: 35px auto 30px auto;
  background-color: #6B5E62;
}

/* Link Icons */
.icons {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  color: #333;
  border-radius: 100%;
  border: 1px solid #333;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-right: 1rem;
}

.icons:hover {
  border-color: #495057;
  color: #495057;
}

.icons:last-of-type {
  margin-right: 0px;
}

/* Responsive Design */
@media screen and (max-width: 800px) {
  .card {
    width: 55%;
  }
}

@media screen and (max-width: 650px) {
  .card {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 65%;
  }
}

@media screen and (max-width: 550px) {
  .card {
    width: 85%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 420px) {
  .card {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }
  p {
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media screen and (max-height: 700px) {
  .card {
    margin-top: 75px;
  }
}

@media screen and (max-height: 600px) {
  .card {
    padding-bottom: 20px;
  }
  h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .separator {
    margin: 20px auto 15px auto;
  }
}

@media screen and (max-height: 500px) {
  .card {
    margin-top: 100px;
    padding-bottom: 20px;
  }
  h1 {
    margin-top: 5px;
  }
  .separator {
    margin: 10px auto 10px auto;
  }
}

@media screen and (max-height: 450px) {
  .card {
    margin-top: 150px;
  }
}

@media screen and (max-height: 400px) {
  .card {
    margin-top: 200px;
  }
}

@media screen and (max-height: 330px) {
  .card {
    margin-top: 250px;
  }
}

@media screen and (max-height: 280px) {
  .card {
    margin-top: 300px;
  }
}

@media screen and (max-height: 225px) {
  .card {
    margin-top: 350px;
  }
}

@media screen and (max-height: 225px) {
  .card {
    margin-top: 400px;
  }
}

@media screen and (max-height: 150px) {
  .card {
    margin-top: 450px;
  }
}
