/**************************************************
General Layout
**************************************************/
html {
    background-color: OldLace; /* MintCream */
}

.content {
    width: 80%;
    margin: 20px auto;
}


/**************************************************
Heading Styling
**************************************************/
h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}


/**************************************************
Link Styling
**************************************************/

/* Use a border instead of underline for cleaner text */
a {
    color: SeaGreen;
    text-decoration: none;
    padding: 1px;
    border-bottom: SeaGreen 2px solid;
}

/* Slightly darken the link when hovered over */
a:hover {
    color: DarkGreen;
    border-bottom: DarkGreen 2px solid;
}


/**************************************************
List Styling
**************************************************/
ul {
    list-style: none;
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

ul li:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    list-style-position: inside;
}

ul li {
    margin-bottom: 6px;
}

.who-i-am ul li:before {
    background-image: url('pencil.svg');
}

.what-i-do ul li:before {
    background-image: url('fork.svg');
}

.where-to-connect ul li:before {
    background-image: url('link.svg');
}
